@use './typography' as *;
@use './mixins' as *;
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 1rem;

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
    margin: 0 7rem;
  }
}

span {
  display: block;
}

li {
  list-style-type: none;
}

.logo {
  height: 1.25rem;
  width: 7.5rem;

  @include tablet {
    &--top {
      display: flex;
      align-items: flex-end;
    }
  }
}

// BANNER SECTION
.banner {
  @include flex-center;
  flex-direction: column;
  background-color: $bandsite-black;
  color: $white;
  margin: 0 -1rem;

  @include tablet {
    margin: 0 -2.25rem;
    padding: 0 2.25rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 3rem;
    height: 4rem;
  }

  @include desktop {
    margin: 0 -7rem;
    padding: 0 7rem;
    height: 5rem;
  }

  &__logo-container {
    margin: 1rem 0 0 0;

    @include tablet {
      margin: 0;
    }
  }

  &__navbar {
    display: flex;
    width: 100%;

    @include tablet {
      width: 25%;
    }
  }

  &__navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;

    @include tablet {
      width: 100%;
    }
  }

  &__navbar-item {
    @include flex-center;
    width: 100%;
    height: 2.5rem;

    @include tablet {
      height: 4rem;
    }

    @include desktop {
      height: 5rem;
    }
  }

  &__navbar-link {
    @include flex-center;
    text-decoration: none;
    color: $white;
    width: 100%;
    height: 2.5rem;

    @include tablet {
      height: 4rem;
      width: fit-content;
    }

    @include desktop {
      height: 5rem;
      width: fit-content;
    }

    &--shows {
      border-bottom: 0.2rem solid $white;
    }

    &--bio {
      border-bottom: 0.2rem solid $white;
    }

    &:hover {
      color: $mercury;
      font-weight: $demi;
      border-bottom: 0.2rem solid $silver;
    }

    &:active {
      color: $white;
      font-weight: $demi;
      border-bottom: 0.2rem solid $white;
    }
  }
}

.footer {
  &__section {
    @include flex-column;
    color: $white;
    background-color: $bandsite-black;
    margin: 0 -1rem;
    padding: 1rem;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 -2.25rem;
      padding: 3rem 2.25rem;
      overflow: hidden;
      justify-content: flex-start;
      align-content: space-between;
      position: relative;
      gap: 2.5rem;
    }

    @include desktop {
      margin: 0 -7rem;
      padding: 3rem 7rem;
    }
  }

  &__first-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 2rem;
      justify-content: flex-start;
    }

    @include desktop {
      gap: 2rem;
    }
  }

  &__title-section {
    display: flex;
    align-items: flex-end;
    height: 2.5rem;

    @include tablet {
      height: 2.75rem;
      align-items: center;
    }
  }

  &__title {
    @include tablet {
      padding: 0;
    }
  }

  &__socials-container {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      align-items: center;
      flex-direction: row;
      width: 8rem;
    }
  }

  &__social-icon {
    height: 1.5rem;
  }

  &__second-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include tablet {
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__contact {
    @include flex-column;

    @include tablet {
      display: center;
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  &__logo-section {
    @include flex-column;
    padding: 2rem 0 1rem 0;

    @include tablet {
      padding: 0;
    }
  }

  &__logo-container--og {
    @include tablet {
      display: none;
    }
  }

  &__logo-container--alt {
    display: none;

    @include tablet {
      display: flex;
      position: absolute;
      top: 3.5rem;
      right: 2.25rem;
    }

    @include desktop {
      right: 7rem;
    }
  }

  &__copyright {
    @include tablet {
      display: flex;
    }
  }
}

.comments {
  &__img {
    height: 2.25rem;
    width: 2.25rem;
  }
}
