$tablet-width: 768px;
$desktop-width: 1280px;
$small-width: 400px;
$landscape-narrowHeight-width: 950px;

//********************
//colors
//********************
//*****Primary*****
$txtAndLightBack: #ffffff;
$SecondryTxt: #afafaf;
$txtAndDarkBack: #323232;
//*****Secondry****
$SecondryLightBack: #fafafa;
$Lines: #e1e1e1;
$CTAHover: #000000;
