$tablet-width: 768px;
$desktop-width: 1280px;

//********************
//colors
//********************
//*****Primary*****
$White: #ffffff;
$Silver: #afafaf;
$Black: #323232;
//*****Secondry****
$Alabaster: #fafafa;
$Mercury: #e1e1e1;
$Darkblack: #000000;
