@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//********************
//reset
//********************
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 50%;

  overflow-x: hidden;
  @include tablet {
    font-size: 62.5%;
  }
}
body {
  font-family: "Avenir";
  font-size: 1.6rem;
  font-weight: 400;
  color: $Darkblack;
  transition: all 0.5s 0.5s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}
.container {
  width: 100vw;
  max-width: 60rem;
  @include tablet {
    max-width: 78rem;
  }
  @include desktop {
    max-width: 128rem;
  }
  margin: 0 auto;
  padding: 0 2.4rem 0 2.4rem;
}
.Background {
  background-color: $BandSiteBlack;
}

hr {
  border: 1px solid $Mercury;
}
.activeState {
  border-bottom: 5px solid $BandSiteWhite;
  font-weight: 600;
}
//********************
//header
//********************
.BackgroundHeader {
  background-color: $BandSiteBlack;
}
.header {
  color: $Alabaster;
  display: grid;
  grid-template-areas: "logo" "menu";
  justify-items: center;
  align-items: center;
  @include tablet {
    grid-template-areas: "logo menu menu menu";
    justify-items: flex-start;
    height: 8rem;
  }
  @include desktop {
    grid-template-areas: "logo menu menu menu . . . ";
    justify-items: flex-start;
    height: 8rem;
  }
  &__logo {
    grid-area: logo;
    font-size: 4rem;
    font-weight: 300;
    padding-top: 2rem;
    @include tablet {
      padding-top: 0;
    }
  }
  &__menu {
    color: $Alabaster;
    grid-area: menu;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    font-size: 2.4rem;
    @include tablet {
      width: auto;
    }
    &--li {
      width: 100%;
      &-item {
        height: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover,
        &:active {
          border-bottom: 5px solid $BandSiteWhite;
          color: $BandSiteWhite;
          font-weight: 600;
        }
      }
    }
  }
}

//********************
//hero
//********************
.hero {
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 55vh;
  color: $BandSiteWhite;
  font-size: 4.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

//********************
//about Musition
//********************
.BackgroundAbout {
  background-color: $BandSiteWhite;
}
.aboutMusicion {
  display: grid;
  grid-template-areas:
    "header2 header2"
    "image image"
    "imgcaption imgcaption"
    "header3 header3"
    "introColumn1 introColumn1";
  align-items: center;
  line-height: 1.5;

  @include tablet {
    grid-template-areas:
      "header2 header2"
      "image image"
      "imgcaption imgcaption"
      "header3 header3"
      "introColumn1 introColumn2";
    padding: 0 10rem;
  }
  &__header2 {
    grid-area: header2;
    font-size: 4rem;
    font-weight: 600;
    padding: 4.2rem 0 1.6rem 0;
    color: $BandSiteBlack;
    @include tablet {
      margin-left: -6rem;
    }
  }
  &__img {
    grid-area: image;
    width: 100%;
  }
  &__imgcaption {
    grid-area: imgcaption;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 2.4rem 0 4.2rem 0;
  }
  &__header3 {
    grid-area: header3;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2;
  }
  &__intro {
    grid-area: introColumn1;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1.6rem 0 2.4rem 0;
    @include tablet {
      display: flex;
      gap: 3rem;
    }
  }
}

//********************
//Gallery
//********************
.BackgroundGallery {
  background-color: $Alabaster;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: $BandSiteBlack;
  &__header {
    font-size: 5rem;
    font-weight: 600;
    width: 100%;
    justify-self: flex-start;
    padding: 1.6rem 0 2.4rem 0;
  }
  &__images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 2.5rem;
    padding: 0 0 2.4rem 0;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--img {
      width: 100%;
    }
  }
}
//********************
//CommentForm Section
//********************
.BackgroundComment {
  background-color: $BandSiteWhite;
}
.commentAndFormSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: $BandSiteBlack;
  width: 100%;
  &__header {
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    justify-self: flex-start;
    padding: 1.6rem 0 2.4rem 0;
  }
}
.formSection {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 2rem;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 60%;
  }
  @include smallScreen {
    flex-direction: column;
  }
  &__img {
    width: 6rem;
    border-radius: 50%;
    align-self: start;
    margin-top: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    &--label {
      color: $Mercury;
      font-weight: 600;
      font-size: 1.4rem;
    }
    &--input {
      width: 100%;
      padding: 1.2rem;
      margin-bottom: 3rem;
      background-color: $Alabaster;
      border: 2px solid $Mercury;
      border-radius: 4px;
      font-family: inherit;
      font-size: 1.4rem;
      &:hover,
      &:active {
        border: 2px solid $BandSiteBlack;
      }
    }
    &--textArea {
      height: 15rem;
    }
    &--btn {
      background-color: $BandSiteBlack;
      color: $BandSiteWhite;
      width: 100%;
      padding: 1.2rem 5rem;
      border-radius: 4px;
      font-size: 2rem;
      @include tablet {
        width: auto;
        align-self: flex-end;
      }
    }
  }
}

//********************
//Comment Section
//********************
.commentSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: $BandSiteBlack;
  width: 100%;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 60%;
  }
}
.comment {
  display: flex;
  justify-items: center;
  align-items: center;
  color: $BandSiteBlack;
  width: 100%;
  margin: auto;
  gap: 2rem;
  font-size: 2.2rem;
  line-height: 3rem;
  &__hr {
    margin: 4rem 0;
    width: 100%;
  }
  &__img {
    width: 6rem;
    border-radius: 50%;
    align-self: flex-start;
  }
  &__TxtWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--userInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      margin-bottom: 1.6rem;
      &-date {
        color: $Mercury;
      }
      &--p {
        font-weight: 500;
      }
    }
  }
}

//********************
//Footer
//********************
.BackgroundFooter {
  background-color: $BandSiteBlack;
}
.footer {
  display: grid;
  grid-template-areas:
    "getInTouch"
    "hr1"
    "agent"
    "hr2"
    "logo"
    "hr3"
    "copyRight";
  align-items: center;
  color: $BandSiteWhite;
  padding: 3rem 2rem;
  @include tablet {
    grid-template-areas:
      "getInTouch getInTouch logo"
      "hr1 hr1 hr1 "
      "agent agent agent"
      "hr3 hr3 hr3"
      "copyRight  copyRight copyRight";
  }
  &__social {
    grid-area: getInTouch;
    font-size: 4rem;
    font-weight: 600;
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      gap: 4rem;
    }
    &--icons {
      display: flex;
      align-content: center;
      gap: 4rem;
      &-icon {
        height: 3rem;
      }
    }
  }
  &__hr1 {
    grid-area: hr1;
  }
  &__agents {
    grid-area: agent;
    line-height: 1.5;
    margin: 3rem 0;
    @include tablet {
      display: flex;
      gap: 4rem;
    }
    &--agent {
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0;
      &-name {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
  &__hr2 {
    grid-area: hr2;
    @include tablet {
      display: none;
    }
  }
  &__logo {
    grid-area: logo;
    font-size: 3rem;
    padding: 1rem 0;
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__hr3 {
    grid-area: hr3;
  }
  &__copyRight {
    grid-area: copyRight;
    padding: 1rem 0;
  }
}
