@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2;
  color: #000000;
  transition: all 0.5s 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

.container {
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2.4rem 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.Background {
  background-color: #323232;
}

hr {
  border: 1px solid #e1e1e1;
}

.activeState {
  border-bottom: 5px solid #ffffff;
  font-weight: 600;
}

.header {
  color: #fafafa;
  display: grid;
  grid-template-areas: "logo" "menu";
  justify-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .header {
    grid-template-areas: "logo menu menu menu";
    justify-items: flex-start;
  }
}
.header__logo {
  grid-area: logo;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}
.header__menu {
  color: #fafafa;
  grid-area: menu;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
  .header__menu {
    width: auto;
  }
}
.header__menu--item {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__menu--item {
    padding-bottom: 0;
  }
}
.header__menu--item:hover, .header__menu--item:active {
  border-bottom: 5px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
}

.hero {
  background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 55vh;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.BackgroundAbout {
  background-color: #ffffff;
}

.aboutMusicion {
  display: grid;
  grid-template-areas: "header2 header2" "image image" "imgcaption imgcaption" "header3 header3" "introColumn1 introColumn1";
  align-items: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .aboutMusicion {
    grid-template-areas: "header2 header2" "image image" "imgcaption imgcaption" "header3 header3" "introColumn1 introColumn2";
  }
}
.aboutMusicion__header2 {
  grid-area: header2;
  font-size: 4rem;
  font-weight: 600;
  padding: 4.2rem 0 1.6rem 0;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .aboutMusicion__header2 {
    margin-left: -4rem;
  }
}
.aboutMusicion__img {
  grid-area: image;
  width: 100%;
}
.aboutMusicion__imgcaption {
  grid-area: imgcaption;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 2.4rem 0 4.2rem 0;
}
.aboutMusicion__header3 {
  grid-area: header3;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2;
}
.aboutMusicion__intro {
  grid-area: introColumn1;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1.6rem 0 2.4rem 0;
}
@media screen and (min-width: 768px) {
  .aboutMusicion__intro {
    display: flex;
    gap: 3rem;
  }
}

.BackgroundGallery {
  background-color: #fafafa;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #323232;
}
.gallery__header {
  font-size: 5rem;
  font-weight: 600;
  width: 100%;
  justify-self: start;
  padding: 1.6rem 0 2.4rem 0;
}
.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 2.5rem;
  padding: 0 0 2.4rem 0;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.gallery__images--img {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-areas: "getInTouch" "hr1" "agent" "hr2" "logo" "hr3" "copyRight";
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-areas: "getInTouch getInTouch logo" "hr1 hr1 hr1 " "agent agent agent" "hr3 hr3 hr3" "copyRight  copyRight copyRight";
  }
}
.footer__social {
  grid-area: getInTouch;
  font-size: 4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    justify-content: start;
    align-content: center;
    gap: 4rem;
  }
}
.footer__social--icons {
  display: flex;
  align-content: center;
  gap: 4rem;
}
.footer__social--icons-icon {
  height: 3rem;
}
.footer__hr1 {
  grid-area: hr1;
}
.footer__agents {
  grid-area: agent;
  line-height: 1.5;
  margin: 3rem 0;
}
@media screen and (min-width: 768px) {
  .footer__agents {
    display: flex;
    gap: 4rem;
  }
}
.footer__agents--agent {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px dotted #e1e1e1;
}
.footer__agents--agent-name {
  font-weight: 600;
  font-size: 1.8rem;
}
.footer__agents--agent-last {
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .footer__agents--agent-last {
    border-bottom: 1px dotted #e1e1e1;
  }
}
.footer__hr2 {
  grid-area: hr2;
}
@media screen and (min-width: 768px) {
  .footer__hr2 {
    display: none;
  }
}
.footer__logo {
  grid-area: logo;
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
    justify-content: end;
  }
}
.footer__hr3 {
  grid-area: hr3;
}
.footer__copyRight {
  grid-area: copyRight;
}