@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 1.6rem;
  font-weight: 300;
  transition: all 0.5s 0.5s ease-in-out;
  color: #323232;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

hr {
  border: 1px solid #e1e1e1;
}