@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../assets/fonts/Alternative/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
.heroShow {
  background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.heroShow__header {
  font-size: 4.5rem;
}
.heroShow__content {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .heroShow__content {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .heroShow__content {
    grid-template-columns: 1fr 1fr;
  }
}
.heroShow__content--text {
  grid-column: 1;
  grid-row: 1;
}
.heroShow__content--text-subHeader {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .heroShow__content--text-subHeader {
    font-size: 2.4rem;
  }
}
.heroShow__content--soundTrack {
  border-radius: 5px;
  grid-column: 1;
  grid-row: 2;
  width: 80vw;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .heroShow__content--soundTrack {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .heroShow__content--soundTrack {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .shows-mobile {
    display: none;
  }
}

#shows-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  #shows-desktop {
    display: grid;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
  }
}
.shows__header {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 8rem 0 4rem 0;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .shows__header {
    font-size: 4.5rem;
  }
}
.shows__data {
  width: 100%;
  font-family: "Avenir";
  font-size: 1.8rem;
  font-weight: 600;
  color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .shows__data {
    margin-top: 10rem;
  }
}
.shows__data--row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem;
}
.shows__data--row:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.shows__data--row:focus {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__data--row {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.2fr 1.2fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 2.4rem 1.8rem 2.4rem 1.8rem;
  }
}
.shows__data--row-btn {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  padding: 2rem 5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  margin: 3rem 0 1rem 0;
}
.shows__data--row-btn:hover {
  cursor: pointer;
  background-color: #000000;
}
.shows__data--row-btn:active {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__data--row-btn {
    margin: 0;
    padding: 1.2rem 3rem;
    border-radius: 1.2rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__data--row-btn {
    padding: 1.2rem 5rem;
  }
}
.shows__data--row-boldItem {
  font-weight: 900;
}
.shows__data--row-title {
  color: #afafaf;
  font-weight: 600;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .shows__data--row-title {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.shows__data--row-title-btn {
  visibility: hidden;
}
.shows__data--hr {
  border: 2px solid #e1e1e1;
  width: 100%;
}