@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//*************************
//hero Section- SHOW page
//*************************
.heroShow {
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  &__content {
    display: grid;
    gap: 3rem;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
    &--text {
      grid-column: 1;
      grid-row: 1;
      &-subHeader {
        font-size: 3rem;
        font-weight: 500;
      }
    }
    &--soundTrack {
      border-radius: 5px;
      grid-column: 1;
      grid-row: 2;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        grid-column: 2;
        grid-row: 1;
        width: 80%;
        justify-self: center;
      }
    }
  }
}

//*************************
//SHOW Section- SHOW page
//*************************
#tabletDesktopTable {
  display: none;
  @include tablet {
    display: table;
  }
}

#mobileTable {
  @include tablet {
    display: none;
  }
}
.tableLayout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.shows {
  @include desktop {
    display: flex;
    gap: 15rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__header {
    grid-area: header2;
    font-size: 4rem;
    font-weight: 600;
    display: block;
    margin: 5rem 0 4rem 0;
    color: $BandSiteBlack;
    @include desktop {
      margin-top: 3rem;
    }
  }
  &__tableWrapper {
    width: 100%;
  }
  &__table {
    width: 100%;
    text-align: left;
    margin: 4.2rem 0 2rem 0;
    &--border {
      @include tablet {
        border-bottom: 2px solid $Mercury;
      }
    }
    &--title {
      color: $Silver;
      font-weight: 600;
      font-size: 2rem;
      padding-top: 3rem;
      @include tablet {
        padding: 1rem 0 2rem 0;
      }
      @include desktop {
        // padding-top: 0rem;
      }
    }
    &--item {
      font-family: "Avenir";
      font-size: 2.2rem;
      font-weight: 500;
      padding-top: 1rem;
      color: $BandSiteBlack;
      &-boldItem {
        font-weight: 900;
      }
    }
    &--btn {
      width: 100%;
      background-color: $BandSiteBlack;
      color: $BandSiteWhite;
      padding: 2rem 5rem;
      border-radius: 8px;
      font-size: 2rem;
      margin: 3rem 0 1rem 0;
      @include tablet {
        margin: 1rem auto;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 4px;
        font-size: 1.4rem;
      }
    }

    &--hr {
      margin: 1.5rem 0;
      width: 100%;
      @include tablet {
        display: none;
      }
    }
  }
}
