@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
.heroShow {
  background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.heroShow__content {
  display: grid;
  gap: 3rem;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .heroShow__content {
    grid-template-columns: 1fr 1fr;
  }
}
.heroShow__content--text {
  grid-column: 1;
  grid-row: 1;
}
.heroShow__content--text-subHeader {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.heroShow__content--soundTrack {
  border-radius: 5px;
  grid-column: 1;
  grid-row: 2;
}
@media screen and (min-width: 768px) {
  .heroShow__content--soundTrack {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .heroShow__content--soundTrack {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    justify-self: center;
  }
}

#tabletDesktopTable {
  display: none;
}
@media screen and (min-width: 768px) {
  #tabletDesktopTable {
    display: table;
  }
}

@media screen and (min-width: 768px) {
  #mobileTable {
    display: none;
  }
}

.tabletitlehidden {
  visibility: hidden;
  width: 15%;
}

.tableLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .shows {
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shows__header {
  grid-area: header2;
  font-size: 6rem;
  font-weight: 600;
  margin: 10rem 0 4rem 0;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .shows__header {
    margin-top: 10rem;
  }
}
.shows__tableWrapper {
  width: 100%;
}
.shows__table {
  width: 100%;
  text-align: left;
  margin: 4.2rem 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .shows__table--border {
    line-height: 3;
    border-bottom: 3px solid #e1e1e1;
  }
}
.shows__table--title {
  color: #afafaf;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .shows__table--title {
    font-size: 2.4rem;
    padding: 3rem 0 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__table--title {
    padding: 10rem 0 5rem 0;
  }
}
.shows__table--item {
  font-family: "Avenir";
  font-size: 3rem;
  font-weight: 500;
  padding-top: 1rem;
  color: #323232;
}
.shows__table--item-boldItem {
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .shows__table--item {
    font-size: 2.2rem;
  }
}
.shows__table--btn {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  padding: 2rem 5rem;
  border-radius: 1rem;
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .shows__table--btn {
    margin: 1rem auto;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.2rem 3rem;
    border-radius: 1.2rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__table--btn {
    padding: 1.2rem 5rem;
  }
}
.shows__table--hr {
  margin: 2rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__table--hr {
    display: none;
  }
}